/* Variable */
:root{
    --color-white: rgb(249,246,241);
    --color-black: rgb(0,0,0);
    --color-green: rgb(28, 95, 12);
    --color-yellow: rgb(226,169,34);
    --color-cream: rgb(245,217,172);
}